/*=======================================
   >>>>>>>>  GENERAL STYLES  <<<<<<<<
========================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
  font-weight: 400;
}

/*=======================================
      >>>>>>>>  HEADER  <<<<<<<<
========================================*/

header {
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;
  padding: 20px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  margin: 0 0 20px;
}

.login {
  background-image: url(../assets/user.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 15px;
  background-position: 10px 50%;
  color: #27A0DE;
  text-decoration: none;
  padding: .5em;
  padding-bottom: 0.3em;
  padding-left: 40px;
  transition: all 200ms;
  margin-bottom: 10px;
}
.login:hover {
  color: #fff;
  background-image: url(../assets/user-active.svg);
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  color: #969696;
  text-decoration: none;
  padding: .5em;
  padding-bottom: 0.3em;
  padding-left: 40px;
  transition: all 200ms;
  text-transform: uppercase;
}
.nav-item:hover {
  color: white;
}

.shares {
  background-image: url(../assets/nav-share.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 15px;
  background-position: 10px 50%;
}
.shares:hover{
  background-image: url(../assets/nav-share-active.svg);
}

.playlist{
  background-image: url(../assets/list.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 15px;
  background-position: 10px 50%;
}
.playlist:hover {
  background-image: url(../assets/list-active.svg);
}

.videos {
  background-image: url(../assets/video.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 15px;
  background-position: 10px 50%;
}
.videos:hover {
  background-image: url(../assets/video-active.svg);
}

/*=======================================
    >>>>>>>>  MAIN SECTION  <<<<<<<<
========================================*/

main {
  background-color: #EFEFEF;
  height: 100%;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;;
  font-weight: 400;
  color: #4B4B4B;
}

/*=======================================
      >>>>>>>>  CARDS  <<<<<<<<
========================================*/

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin: 20px auto;
}

.card-header {
  min-height: 140px;
  background-color: #747879;
  color: #fff;
  padding: 15px;
  border-radius: 5px 5px 0 0;
}

.card-header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.share-btn {
  width: 50px;
  height: 50px;
  background-image: url(../assets/card-share.svg);
  background-color: transparent;
  border: none;
  padding: 0;
  transition: all 200ms;
}
.share-btn:hover {
  background-image: url(../assets/card-share-active.svg);
  cursor: pointer;
}

.views {
  text-align: center;
}

.views-label {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 300;
  letter-spacing: 1px;
}

.views-ammount {
  font-size: 2em;
  font-weight: 300;
}


.card-body {
  padding: 15px;
  color: #696969;
}

.name {
  font-size: 1.2em;
  margin-bottom: 3px;
}

.date {
  color: #ACACAD;
  font-size: .75em;
}

.url {
  margin: 20px auto;
  text-align: center;
  background-color: #EFEFEF;
  color: #989898;
  padding: 10px;
  border-radius: 5px;
  font-size: .8em;
}

.title-1 {
  text-transform: uppercase;
  font-size: .75em;
  margin:20px auto 2px;
}

.playlist-name {

}

.title-2 {
  text-transform: uppercase;
  font-size: .75em;
  margin:20px auto 2px;
}

.num-of-attachments {
  font-size: 2em;
  color: #48BFFC;
}
